[Desktop Entry]
Type=Application
Version=1.5
Name=EVE Imager
Comment=Tool for writing LF Edge EVE-OS installer images to USB drives
Icon=eve-imager
Exec=/usr/bin/eve-imager %u
Categories=Utility;
StartupNotify=false
MimeType=x-scheme-handler/rpi-imager;application/vnd.raspberrypi.imager-manifest+json;
